
clientO2M/.vs/clientO2M/v15/.suo
*.db
*.ipch
*.ipch
clientO2M/.vs/clientO2M/v15/ipch/AutoPCH/48b457e7ba8b93b0/XTHROW.ipch
clientO2M/clientO2M/x64/Debug/clientO2M.log
clientO2M/.vs/clientO2M/v15/ipch/AutoPCH/bad2f60d03caf68d/MYSQLINTERFACE.ipch
*.ipch
*.ipch
clientO2M/x64/Debug.zip
clientO2M/x64/Debug.zip
clientO2M/x64/Debug/clientO2M.exe
